
@Html.ActionLink(
    "ShowPrivacyPolicy", 
    "PrivacyPolicy", null,
    new {id="privacyLink"})

<div id="privacy"></div>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#privacyLink").click(function () {
                event.preventDefault();
                var url = $(this).attr('href');
                $("#privacy").load(url);
            });
        });
    </script>
    }